<div class="page_header row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 row">
            <div class="col-sm-2">
                <img src="./assets/logo_elca.png" alt="">
            </div>
            <div class="col-sm-9">
                <h2>Project Information Management</h2>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 row">
            <div class="col-sm-6">Multilingual</div>
            <a class="col-sm-2" href="#">Help</a>
            <a class="col-sm-3" href="#">Log out</a>
        </div>
    </div>


